<!DOCTYPE html>
<html>
<head>
  <title>Card Deck Workout</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">

    <h1 v-html="header"></h1>
    <h2>{{ deck_id }}</h2>
    <dl>
      <dt>&hearts; HEARTS</dt>
      <dd>Push-ups</dd>
      <dt>&diams; DIAMONDS</dt>
      <dd>Sit-ups</dd>
      <dt>&spades; SPADES</dt>
      <dd>Squats</dd>
      <dt>&clubs; CLUBS</dt>
      <dd>Jumping Jacks</dd>
    </dl>

    <button v-on:click="draw">Generate New Workout</button>

    <h2>Your Cards</h2>
    <ul>
      <li v-for="card in cards">
        <strong>{{ card.value }}</strong> of <strong>{{ card.suit }}</strong>
      </li>
    </ul>
    <h3>Your Workout</h3>
    <ol>
      <li v-for="(reps, k) in workout">
        <strong>{{ reps }}</strong> {{ reps | pluralize(getExercise(k)) }}
      </li>
    </ol>
  </div>

  <script src="app.js"></script>
</body>
</html>
